/* Google Fonts - Poppins */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
} */
.slide-container{
  /* max-width: 1120px; */
  width: 100%;
  padding: 40px 0;
}
.slide-container .slide-content{
  margin: 0 40px;
  overflow: hidden;
}
.slide-container .card{
  border-radius: 0;
  background-color: #FFF;
}
.slide-container .image-content,
.slide-container .card-content{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px 14px;
}
.slide-container .image-content{
  position: relative;
  row-gap: 5px;
  padding: 0;
}
.slide-container .card-image{
  position: relative;
  height: 13rem;
  width: 100%;
  background: #FFF;
  padding: 3px;
}
.slide-container .name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.slide-container .description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.slide-container .button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: var(--secondary-color);
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.slide-container .button:hover{
  background: #265DF2;
}

.slide-container .swiper-navBtn{
  color: var(--secondary-color);
  transition: color 0.3s ease;
}
.slide-container .swiper-navBtn:hover{
  color: var(--secondary-color);
}
.slide-container .swiper-navBtn::before,
.slide-container .swiper-navBtn::after{
  font-size: 35px;
}
.slide-container .swiper-button-next{
  right: 0;
}
.slide-container .swiper-button-prev{
  left: 0;
}
.slide-container .swiper-pagination-bullet{
  background-color: var(--secondary-color);
  opacity: 1;
}
.slide-container .swiper-pagination-bullet-active{
  background-color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
  .slide-container .slide-content{
    margin: 0 10px;
  }
  .slide-container .swiper-navBtn{
    display: none;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .slide-container .card-image{
    height: 15rem;
  }
}